h2, h3, p, ul, dl, dd {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
html, body {
    width: 100%;
}
body {
    font-family: 'Microsoft YaHei', '微软雅黑', 'STXihei';
    background: #fff;
}
.mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
header > .wrap::after, header nav ul::after, #section-2::after, #section-4 form::after, #section-5 .wrapper::after, #section-6::after, #section-6 .brand-description ul::after, #section-7::after, #section-8 .content aside .msg::after, #section-8 .content::after, #section-8 .content form .description::after {
    display: block;
    clear: both;
    content: ' ';
}
.container {
    width: 100%;
    min-width: 1280px;
}
header {
    width: 100%;
    height: 56px;
}
header > .wrap {
    width: 90%;
    margin: 0 auto;
}
header a {
    line-height: 48px;
    padding-bottom: 8px;
}
header > .wrap .brand {
    font-family: SimHei, 'STHeiti Light', 'STXihei' 'STHeiti';
    font-size: 21px;
    float: left;
    text-indent: 42px;
    color: #393a3a;
    background: #fff url('../Images/Section1/icon.png') 0 9px no-repeat;
}
header > .wrap nav {
    float: right;
    margin-right: 55px;
    margin-left: -100%;
}
header > .wrap nav ul {
    position: relative;
}
header > .wrap nav ul li {
    float: left;
}
header > .wrap nav li:last-child {
    position: absolute;
    bottom: 0;
    left: 0;
    float: none;
    width: 74px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    border-bottom: 5px solid #e74f4d;
    background: #e74f4d;
}
header > .wrap nav ul li:nth-child(1).active ~ .slider {
    left: 0;
}
header > .wrap nav ul li:nth-child(2).active ~ .slider {
    left: 88px;
}
header > .wrap nav ul li:nth-child(3).active ~ .slider {
    left: 190px;
}
header > .wrap nav ul li:nth-child(4).active ~ .slider {
    left: 292px;
}
header > .wrap nav ul li:nth-child(5).active ~ .slider {
    left: 394px;
}
header > .wrap nav ul li:nth-child(1):hover ~ .slider {
    left: 0;
}
header > .wrap nav ul li:nth-child(2):hover ~ .slider {
    left: 88px;
}
header > .wrap nav ul li:nth-child(3):hover ~ .slider {
    left: 190px;
}
header > .wrap nav ul li:nth-child(4):hover ~ .slider {
    left: 292px;
}
header > .wrap nav ul li:nth-child(5):hover ~ .slider {
    left: 394px;
}
header > .wrap nav ul li a {
    font-size: 14px;
    float: left;
    padding: 0 23px 8px;
    -webkit-transition: color .4s ease-in-out;
    -moz-transition: color .4s ease-in-out;
    -o-transition: color .4s ease-in-out;
    transition: color .4s ease-in-out;
    color: #787b83;
}
header > .wrap nav li a:hover, header > .wrap nav li.active a {
    color: #e74f4d;
}
header > .wrap .login {
    font-size: 14px;
    position: relative;
    float: right;
    width: 47px;
    margin-right: 8px;
    text-align: right;
    color: #e74f4d;
    background: #fff url('../Images/Section1/icon.png') 0 -31px no-repeat;
}
header > .wrap .login::after {
    position: absolute;
    top: 38px;
    left: -5px;
    display: block;
    width: 120%;
    content: '';
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    border-bottom: 2px solid #e74f4d;
}
header > .wrap .login:hover::after {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}
section, #section-2 .cell {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#section-1 {
    position: relative;
    width: 100%;
    height: 692px;
    background: #fff url('../Images/Section1/bg.jpg') center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
#section-1 .mask {
    background-color: rgba(3, 0, 0, .2);
}
#section-1 .text-inner {
    position: absolute;
    top: 272px;
    left: 10%;
    color: #fff;
}
#section-1 .text-inner h2 {
    font-size: 60px;
    line-height: 1.2;
    margin-left: -8px;
}
#section-1 .text-inner p {
    font-size: 21px;
    line-height: 29px;
    margin: 15px 0;
    color: #fffdfd;
}
#section-1 .text-inner a {
    font-size: 30px;
    line-height: 63px;
    display: block;
    width: 330px;
    margin-top: 50px;
    text-align: center;
    color: #fff;
    background-color: #e74f4d;
}
#section-2 {
    width: 100%;
    text-align: center;
}
#section-2 .cell {
    position: relative;
    float: left;
    width: 25%;
    height: 249px;
    padding-top: 44px;
}
#section-2 .cell::after {
    position: absolute;
    top: 132px;
    right: 0;
    display: block;
    height: 52px;
    content: ' ';
    border-right: 1px solid #bbb;
    border-left: 1px solid #aaa;
}
#section-2 .cell:last-child::after {
    display: none;
}
#section-2 .cell img {
    width: 42px;
    height: 42px;
}
#section-2 .cell p {
    font-size: 14px;
    line-height: 21px;
    margin-top: 42px;
    padding: 0 83px;
    color: #767777;
}
#section-3 {
    width: 100%;
    height: 360px;
    text-align: center;
    background-color: #ededed;
}
#section-3 img {
    width: 91px;
    height: 91px;
    margin-top: 89px;
}
#section-3 h2 {
    font-size: 54px;
    margin-top: 35px;
    color: rgba(50, 51, 51, .5);
}
#section-4 {
    position: relative;
    width: 100%;
    height: 341px;
    padding-top: 50px;
    text-align: center;
    background: #fff url('../Images/Section4/bg.jpg') center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
#section-4 .mask {
    background-color: rgba(170, 52, 50, .2);
}
#section-4 h3 {
    font-size: 21px;
    position: relative;
    color: #fff;
}
#section-4 h3::after {
    font-size: 21px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    display: block;
    width: 30px;
    content: '';
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    color: #fff;
    border-bottom: 3px solid #fff;
}
#section-4 p {
    font-size: 12px;
    position: relative;
    margin-top: 30px;
    color: #fff;
}
#section-4 form {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 1032px;
    margin: 50px auto 0;
}
#section-4 form dl {
    font-size: 12px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 238px;
    margin-right: 27px;
    color: #a8aaaa;
    border: 2px solid transparent;
}
#section-4 form dl.active {
    border-color: #be4e48;
}
#section-4 form dl dt {
    line-height: 34px;
    background: #fff url('../Images/Section4/icon.png') 206px 7px no-repeat;
}
#section-4 form dl.active dd {
    display: block;
}
#section-4 form dl dd {
    display: none;
    background-color: #e3e4e4;
}
#section-4 form dl dd li {
    line-height: 27px;
}
#section-4 form dl dd li:hover {
    color: #fff;
    background: #be4e48 url('../Images/Section4/icon.png') 7px -18px no-repeat;
}
#section-4 form input[type='submit'] {
    font-size: 12px;
    line-height: 34px;
    float: left;
    width: 237px;
    padding: 0;
    cursor: pointer;
    color: #fff;
    border: 2px solid transparent;
    background-color: #be4e48;
}
#section-5 {
    height: 604px;
    padding-top: 100px;
    background: #f7f7f7;
}
#section-5 .wrapper {
    width: 986px;
    margin: 0 auto;
}
#section-5 .wrapper .billboard {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 36px;
    text-align: center;
}
#section-5 .wrapper .billboard:last-child {
    margin: 0;
}
#section-5 .wrapper .billboard .img-wrapper {
    padding: 12px 7px;
    border: 1px solid #e0e0e0;
    border-bottom: 0;
    background: #fff;
}
#section-5 .wrapper .billboard h4 {
    font-size: 14px;
    margin: 10px 0;
    color: #333;
}
#section-5 .wrapper .billboard p {
    font-size: 12px;
    color: #a6a6a6;
}
#section-5 .wrapper .billboard:nth-child(2) .img-wrapper {
    border: 1px solid #e8e8e8;
    border-top-color: #d2d2d2;
}
#section-5 .wrapper .billboard:nth-child(2) h4 {
    font-size: 19px;
    line-height: 1;
    margin: 5px 0 0 0;
    word-spacing: 36px;
}
#section-5 .wrapper .billboard:nth-child(2) p {
    margin: 8px 0;
}
#section-6 .brand-show {
    float: left;
    width: 66.5%;
    height: 566px;
    text-align: center;
    color: #fff;
    background: #fff url('../Images/Section6/bg.jpg') 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
#section-6 .brand-show h2 {
    font-size: 50px;
    margin-top: 132px;
}
#section-6 .brand-show h2 + p {
    font-size: 158px;
    line-height: .8;
}
#section-6 .brand-show p + p {
    font-size: 22px;
    margin-top: 30px;
}
#section-6 .brand-show time {
    font-size: 22px;
    margin-top: 20px;
}
#section-6 .brand-description {
    position: relative;
    float: left;
    width: 33.5%;
    height: 566px;
    text-align: center;
    background: #fff;
}
#section-6 .brand-description::after {
    position: absolute;
    top: 270px;
    left: -48px;
    display: block;
    content: '';    /* border: 15px 24px solid red; */
    border-width: 15px 24px;
    border-style: solid;
    border-color: transparent;
    border-right-color: #fff;
}
#section-6 .brand-description h3 {
    font-size: 20px;
    margin-top: 166px;
    color: #333;
}
#section-6 .brand-description h3 span {
    color: #e74f4d;
}
#section-6 .brand-description p {
    font-size: 12px;
    line-height: 32px;
    margin: 30px 70px 50px;
    text-align: left;
    color: #b7b7b7;
}
#section-6 .brand-description > a {
    padding: 9px 28px;
    color: #e46669;
    border: 1px solid #e46669;
}
#section-6 .brand-description ul {
    margin-top: 30px;
}
#section-6 .brand-description ul li {
    display: inline-block;
}
#section-6 .brand-description ul li a {
    font-size: 0;
    padding: 4px;
    border: 1px solid #929292;
    border-radius: 50%;
}
#section-6 .brand-description ul li.active a {
    background: #929292;
}
#section-7 {
    width: 100%;
}
#section-7 .wrapper {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.5%;
    height: 520px;
}
#section-7 .wrapper .cell {
    float: left;
    width: 50%;
    height: 520px;
    text-align: center;
}
#section-7 .wrapper .cell p {
    font-family: 'SimHei', 'STHeiti', 'STHeiti Light', '黑体';
    font-size: 21px;
    line-height: 36px;
    position: relative;
    margin-top: 170px;
    padding-bottom: 25px;
}
#section-7 .wrapper .cell p::after {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 32px;
    content: '';
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    border-bottom: 2px solid #000;
}
#section-7 .wrapper .cell a {
    line-height: 42px;
    display: block;
    width: 166px;
    margin: 25px auto;
    border: 1px solid #000;
}
#section-7 .wrapper #cell1 {
    color: #fff;
    background: #e74f4d;
}
#section-7 .wrapper #cell1 p::after {
    border-bottom-color: #fff;
}
#section-7 .wrapper #cell1 a {
    color: #fff;
    border-color: #fff;
}
#section-7 .wrapper #cell2 {
    position: relative;
    color: #333;
}
#section-7 .wrapper #cell2 p::after {
    border-bottom-color: #ababab;
}
#section-7 .wrapper #cell2 a {
    color: #e74f4d;
    border-color: #e74f4d;
}
#section-7 .wrapper #cell2::after {
    position: absolute;
    top: 246px;
    left: 100%;
    display: block;
    content: '';
    border-width: 15px 25px;
    border-style: solid;
    border-color: transparent;
    border-left-color: #fff;
}
#section-7 .image {
    float: left;
    width: 33.5%;
    height: 520px;
}
#section-7 .image img {
    width: 100%;
    height: 100%;
}
#section-8 {
    width: 100%;
    height: 750px;
    padding-top: 116px;
    text-align: center;
}
#section-8 h3 {
    font-size: 21px;
    line-height: 36px;
    color: #323333;
}
#section-8 h3::after {
    display: block;
    width: 30px;
    margin: 10px auto 0;
    content: '';
    border-bottom: 2px solid #e74f4d;
}
#section-8 > p {
    font-size: 12px;
    line-height: 21px;
    width: 418px;
    margin: 10px auto 108px;
    color: #aaa;
}
#section-8 .content {
    width: 72%;
    margin: 0 auto;
}
#section-8 .content aside {
    float: left;
    text-align: left;
}
#section-8 .content aside .msg {
    width: 276px;
    margin-bottom: 10px;
}
#section-8 .content aside .msg h4 {
    font-size: 14px;
    line-height: 1.2;
    margin-top: 0;
    color: #231815;
}
#section-8 .content aside .msg p {
    font-size: 12px;
    line-height: 22px;
    color: #231815;
}
#section-8 .content aside .msg a {
    font-size: 12px;
    line-height: 22px;
    position: relative;
    float: right;
    color: #231815;
}
#section-8 .content aside .msg a::before {
    position: absolute;
    top: 7px;
    left: -16px;
    display: block;
    width: 5px;
    height: 5px;
    content: '';
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    border: 2px solid #9e9a98;
    border-top: none;
    border-left: none;
}
#section-8 .content form {
    float: right;
    width: 640px;
}
#section-8 .content form .name, #section-8 .content form .age, #section-8 .content form .tel, #section-8 .content form .address {
    width: 310px;
}
#section-8 .content form div {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 40px;
    margin-bottom: 14px;
    padding-left: 16px;
    text-align: left;
    background: #ededed;
}
#section-8 .content form div:nth-child(odd) {
    margin-right: 20px;
}
#section-8 .content form div label {
    font-size: 12px;
    line-height: 40px;
    color: #231815;
}
#section-8 .content form div.description {
    width: 100%;
    height: 120px;
    padding: 0;
}
#section-8 .content form input {
    height: 40px;
    border: 0;
    outline: 0;
    background: #ededed;
}
#section-8 .content form .description textarea {
    font-size: 12px;
    width: 100%;
    max-width: 100%;
    height: 120px;
    max-height: 120px;
    resize: none;
    color: #231815;
    border: 0;
    background: #ededed;
}
textarea::-webkit-input-placeholder {

    /* WebKit browsers */
    color: #231815;
}
textarea:-moz-placeholder {

    /* Mozilla Firefox 4 to 18 */
    color: #231815;
}
textarea::-moz-placeholder {

    /* Mozilla Firefox 19+ */
    color: #231815;
}
textarea:-ms-input-placeholder {

    /* Internet Explorer 10+ */
    color: #231815;
}
#section-8 .content form input[type='submit'] {
    float: none;
    width: 100%;
}
#section-9 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 360px;
    padding-top: 82px;
    text-align: center;
    color: #fff;
    background: #32353e;
}
#section-9 h2 {
    font-size: 21px;
    line-height: 45px;
}
#section-9 p {
    font-size: 12px;
    line-height: 21px;
    width: 468px;
    margin: 0 auto;
}
#section-9 form {
    font-size: 0;
    margin-top: 26px;
}
#section-9 input {
    border: 0;
    outline: 0;
}
#section-9 input[type='email'] {
    font-size: 15px;
    line-height: 27px;
    -moz-box-sizing: border-box;
    width: 410px;
    height: 38px;
    padding: 0 10px;
    border: 1px solid #65686e;
    border-right: 0;
}
#section-9 input[type='submit'] {
    font-size: 16px;
    width: 80px;
    height: 40px;
    padding: 0;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    text-indent: 10px;
    letter-spacing: 10px;
    color: #fff;
    border: 0;
    border-radius: 0;
    background: #6f7278;
}
#section-9 input[type='submit']:hover {
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background: #5b5e64;
}
#section-9 .icon {
    margin-top: 36px;
}
#section-9 .icon i {
    font-size: 28px;
    display: inline-block;
    width: 50px;
    height: 28px;
    cursor: pointer;
    -webkit-transition: font-size .2s ease-in-out;
    -moz-transition: font-size .2s ease-in-out;
    -o-transition: font-size .2s ease-in-out;
    transition: font-size .2s ease-in-out;
    vertical-align: middle;
}
#section-9 .icon i:hover {
    font-size: 35px;
}
footer {
    font-size: 12px;
    position: relative;
    height: 58px;
    color: #fff;
    background: #303039;
}
footer span {
    line-height: 23px;
    position: absolute;
    top: 26px;
    left: 100px;
}
footer a {
    line-height: 1.2;
    position: absolute;
    top: 30px;
    right: 40px;
    color: #fff;
}